{{head-layout}}
{{title model.name prepend=true}}
<header>
  <nav>
    {{#link-to 'index'}}
      <img src="/assets/images/black-logo.png" alt="{{model.name}}" title="{{model.name}}">
    {{/link-to}}
  </nav>
</header>
<main>
  {{outlet}}
  {{#if cart.length}}
    {{side-panel (component 'check-out' cart=cart group=model onpay=(route-action 'pay'))
      ondismiss=(action cart.clear cart)}}
  {{/if}}
</main>
<footer class='vcard'>
  <span class='fn'>{{model.name}}</span>
  {{#if model.email}}
    <span class='email'>
      <a href="mailto:{{model.email}}">{{model.email}}</a>
    </span>
  {{/if}}
</footer>
{{side-panel duration=300}}