{{head-layout}}
{{title model.name prepend=true}}
<header>
  <nav>
    {{#link-to 'index' class='home'}}{{model.name}}{{/link-to}}
    <ul>
      {{#each model.channels as |channel|}}
        <li>
          {{#link-to 'post' channel.slug}}{{channel.name}}{{/link-to}}
        </li>
      {{/each}}
    </ul>
  </nav>
</header>
<main>
  {{outlet}}
  {{#if cart.length}}
    {{side-panel (component 'check-out' cart=cart group=model onpay=(route-action 'pay'))
      ondismiss=(action cart.clear cart)}}
  {{/if}}
</main>
<footer class='vcard'>
  &copy; <span class='fn'>{{model.name}}</span>
  {{#if model.email}}
    <span class='email'>
      <a href="mailto:{{model.email}}">{{model.email}}</a>
    </span>
  {{/if}}
</footer>
{{side-panel duration=300}}