<p>
  {{#each events as |event|}}
    <div>
      {{event.title}}
      {{event.startsAt}}
      {{event.endsAt}}
      {{event.venue.location.name}}, {{event.venue.extendedAddress}}
      {{#if event.mobiledoc}}
        {{render-mobiledoc mobiledoc=event.mobiledoc tagName='' atomNames=(list 'line-break')}}
      {{/if}}
    </div>  
  {{/each}}
</p>